Display the names of your friends one by one stored in the form of a list

In [1]:
names=['George','Catherine','John','Chirag','Rishabh','Tushar','Sagar','Alok']

for name in names: #name is an iterator
  print(name)

George
Catherine
John
Chirag
Rishabh
Tushar
Sagar
Alok

In [2]:
fruits=['Apple','Mango','Banana','Grapes','Kivi']

for fruit in fruits:
  print(fruit)

Apple
Mango
Banana
Grapes
Kivi

In [10]:
for i in fruits:
  print(i,end=' ')

Apple Mango Banana Grapes Kivi

Display the first 10 whole numbers

In [4]:
for i in range(0,10): #bydefault the step size will be 1
  print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(0,10,2): #here step size is 2 - consequtive o/ps will have difference of 2
  print(i)

0
2
4
6
8

In [9]:
for i in range(0,10,3):
  print(i,end=' ')

0 3 6 9

Take a list of numbers and display all the even numbers from this list

In [8]:
my_list=[2,3,4,5,6,8,9]

for i in my_list:
  if i%2==0:
    print(i,end=' ')

2 4 6 8

Take a list of numbers and display all the even numbers from this list

In [12]:
my_list=[2,3,4,5,6,8,9]

for i in my_list:
  if i%2!=0:
    print(i,end=' ')

3 5 9