In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("insurance.csv")

In [3]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [6]:
data.isna().sum() #no null values

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [8]:
#converting the categorical values into corresponding numeric representation
data['sex']=data['sex'].apply({'female':1,'male':0}.get)

In [9]:
data.head()

   age  sex   bmi  children smoker     region  expenses
0   19    1  27.9         0    yes  southwest  16884.92
1   18    0  33.8         1     no  southeast   1725.55
2   28    0  33.0         3     no  southeast   4449.46
3   33    0  22.7         0     no  northwest  21984.47
4   32    0  28.9         0     no  northwest   3866.86

In [10]:
data['smoker']=data['smoker'].apply({'yes':1,'no':0}.get)
data['region']=data['region'].apply({'southeast':1,'southwest':2,'northeast':3,'northwest':4}.get)

In [11]:
data.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    1  27.9         0       1       2  16884.92
1   18    0  33.8         1       0       1   1725.55
2   28    0  33.0         3       0       1   4449.46
3   33    0  22.7         0       0       4  21984.47
4   32    0  28.9         0       0       4   3866.86

In [12]:
x=data.drop(['expenses'],axis=1)
y=data['expenses']

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

In [14]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [15]:
model.fit(x_train,y_train)

LinearRegression()

In [16]:
y_hat=model.predict(x_test)

In [17]:
accuracy=model.score(x,y)

In [18]:
print(accuracy)

0.7499243368421067